body {
    /*background: transparent url(../images/background-tile.png) repeat top left;*/
    font: 21px/30px 'LibSans-Regular', Helvetica, sans-serif;
    color: #333;
}

.masthead {
    /*border-bottom: 1px solid #ccc;*/
    margin: 3% 5% 72px;
    width: 90%;
}

.masthead h1 {
    /*float: left;*/
    font: 18px/30px 'LibSans-Bold', Helvetica, sans-serif;
    width: 70%;
}

.masthead h1 a {
    color: #333;
    text-decoration: none;
}

.sociallist {
    /*float: right;*/
    font: 13px/16px Courier;
}

.sociallist li {
    display: inline;
}

/*
.sociallist li a[class^='icon'] {
    background-size: 30px;
    display: inline-block;
    height: 30px;
    margin-bottom: 6px;
    text-indent: -9999px;
    width: 30px;
}
*/

.sociallist li a {
    color: #aaa;
    text-decoration: none;
}

.sociallist li a:hover {
    color: #777;
}

.main {
    margin-left: 5%;
    max-width: 50%;
}

.main pre {
    border: 1px solid #eee;
    margin-bottom: 30px;
}

.main pre code {
    font: 14px/16px Courier;
}

.post article {
    font: 14px/24px 'Courier';
}

.post p {
    margin-bottom: 30px;
}

.post__header {
    /*font: 36px/42px 'LibSans-Bold', Helvetica, sans-serif;*/
    font: bold 16px/24px Helvetica, sans-serif;;
    margin-bottom: 12px;
    text-align: left;
}

.post__header a {
    color: #04b45f;
    color: #0B9452;
    text-decoration: none;
}

.post__meta {
    color: #aaa;
    font: 14px/18px 'Courier';
}

.masthead:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.icon-email {
    background: transparent url(../images/icon-email.png) no-repeat top left;
}

.icon-linkedin {
    background: transparent url(../images/icon-linkedin.png) no-repeat top left;
}

.icon-github {
    background: transparent url(../images/icon-github.png) no-repeat top left;
}

.icon-bitbucket {
    background: transparent url(../images/icon-bitbucket.png) no-repeat top left;
}

.icon-twitter {
    background: transparent url(../images/icon-twitter.png) no-repeat top left;
}

.icon-googleplus {
    background: transparent url(../images/icon-googleplus.png) no-repeat top left;
}

.icon-coderwall {
    background: transparent url(../images/icon-coderwall.png) no-repeat top left;
}