body {
    /*background: transparent url(../images/background-tile.png) repeat top left;*/
    font: 21px/30px 'LibSans-Regular', Helvetica, sans-serif;
    color: #333;
}

.masthead {
    border-bottom: 1px solid #ccc;
    margin: 3% 5% 24px;
    width: 90%;
}

.masthead h1 {
    float: left;
    font: 24px/30px 'LibSans-Bold', Helvetica, sans-serif;
    width: 70%;
}

.masthead h1 a {
    color: #333;
}

.sociallist {
    float: right;
}

.sociallist li {
    display: inline;
}

.sociallist li a[class^='icon'] {
    background-size: 30px;
    display: inline-block;
    height: 30px;
    margin-bottom: 6px;
    text-indent: -9999px;
    width: 30px;
}

/*
.sidebar {
    left: 0;
    padding: 2%;
    position: fixed;
    top: 0;
    width: 55px;
}

.sidebar__logo {
    margin: 0;
}

.sidebar__logo img {
    height: auto;
    width: 55px;
}

.sidebar__social {
    text-align: center;
}

.sidebar__social li a[class^='icon'] {
    background-size: 30px;
    display: inline-block;
    height: 30px;
    margin-bottom: 6px;
    text-indent: -9999px;
    width: 30px;
}
*/
.main {
    margin-left: 5%;
    width: 760px;
}

.post p {
    margin-bottom: 30px;
}

.post__header {
    font: 36px/42px 'LibSans-Bold', Helvetica, sans-serif;
    margin-bottom: 12px;
    text-align: left;
}

.post__header a {
    color: #04b45f;
    text-decoration: none;
}

.post__meta {
    color: #aaa;
    font: 16px/21px 'LibSans-Regular', Helvetica, sans-serif;
}

.masthead:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

/*
.sidebar:after,
.main:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
*/



/*
#main-content {
    margin: 15% auto 0;
    width: 620px;
}

    #main-content h1 {
        color: #777;
        font: 1.8em 'Bebas', Arial, Helvetica, sans-serif;
        text-align: center;
        text-shadow: 1px 1px 0 #eee;
    }

    #main-content section {
        border-bottom: 1px solid #ccc;
        margin: 12px 0;
        padding: 12px 0;
    }

        #main-content section h2 {
            color: #777;
            font: 5.3em 'Bebas', Arial, Helvetica, sans-serif;
            text-align: center;
            text-shadow: 1px 1px 0 #fff;
        }

        #main-content section p {
            color: #999;
            font-size: 1.5em;
            line-height: 1.5em;
            margin-bottom: 6px;
            text-align: center;
        }

    #main-content ul {
        text-align: center;
    }

        #main-content ul li {
            display: inline;
        }

.icon-email, .icon-linkedin, .icon-github,
.icon-bitbucket, .icon-twitter,
.icon-googleplus, .icon-coderwall {
    display: inline-block;
    height: 48px;
    opacity: 0.5;
    text-indent: -9999px;
    width: 48px;
}

    .icon-email:hover,
    .icon-linkedin:hover,
    .icon-github:hover,
    .icon-bitbucket:hover,
    .icon-twitter:hover,
    .icon-googleplus:hover,
    .icon-coderwall:hover {
        opacity: 1;
    }
*/
.icon-email {
    background: transparent url(../images/icon-email.png) no-repeat top left;
}

.icon-linkedin {
    background: transparent url(../images/icon-linkedin.png) no-repeat top left;
}

.icon-github {
    background: transparent url(../images/icon-github.png) no-repeat top left;
}

.icon-bitbucket {
    background: transparent url(../images/icon-bitbucket.png) no-repeat top left;
}

.icon-twitter {
    background: transparent url(../images/icon-twitter.png) no-repeat top left;
}

.icon-googleplus {
    background: transparent url(../images/icon-googleplus.png) no-repeat top left;
}

.icon-coderwall {
    background: transparent url(../images/icon-coderwall.png) no-repeat top left;
}