@font-face {
    font-family: 'LibSans-Regular';
    src: url('../fonts/LiberationSans-Regular-webfont.eot');
    src: url('../fonts/LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LiberationSans-Regular-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-Regular-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibSans-Italic';
    src: url('../fonts/LiberationSans-Italic-webfont.eot');
    src: url('../fonts/LiberationSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LiberationSans-Italic-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-Italic-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibSans-Bold';
    src: url('../fonts/LiberationSans-Bold-webfont.eot');
    src: url('../fonts/LiberationSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LiberationSans-Bold-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-Bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibSans-BoldItalic';
    src: url('../fonts/LiberationSans-BoldItalic-webfont.eot');
    src: url('../fonts/LiberationSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LiberationSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-BoldItalic-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}