@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Bungee');

body {
    background-color: #fff;
    font: 21px/30px 'LibSans-Regular', Helvetica, sans-serif;
    font: 21px/30px 'Roboto Condensed', Helvetica, sans-serif;
    /*font: 21px/30px 'Open Sans', sans-serif;*/
    color: #555;
    padding: 50px 0 0 50px;
}

p {
    margin-bottom: 24px;
}

.masthead .logo {
    float: left;
    height: auto;
    margin-right: 50px;
    width: 100px;
}

.masthead .info {
    float: left;
}

.masthead h1 {
    font: 1.9rem/30px 'Bungee', Helvetica, sans-serif;
    margin-bottom: 0;
    width: 70%;
}

.masthead h1 a {
    color: #00B300;
    text-decoration: none;
}

.masthead .sociallist {
    margin-top: 12px;
    padding-left: 0;
}

.masthead .sociallist li {
    display: inline;
    margin-right: 8px;
}

.masthead .sociallist li a {
    color: #333;
    text-decoration: none;
}

.masthead .sociallist li a:hover {
    color: #777;
}

.masthead::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.main {
    margin-left: 150px;
    max-width: 48%;
}