html, body {
  background: #f9f9f9;
  color: #333;
  font-family: 'Roboto', sans-serif;
  padding: 36px 48px;
}

.home .title-block {
  font-size: 48px;
  font-weight: 900;
  line-height: 38px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.post .title-block {
  font-size: 24px;
  font-weight: 900;
  line-height: 12px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

  .post .title-block a {
    color: #000;
    text-decoration: none;
  }

.home .tagline-block {
  color: #aaa;
  font-size: 18px;
  margin-bottom: 86px;
}

.post .tagline-block {
  color: #aaa;
  font-size: 16px;
  margin-bottom: 86px;
}

.home .content {
  color: #333;
  font-size: 28px;
  line-height: 42px;
  width: 750px;
}

.post .content {
  color: #333;
  font-size: 24px;
  line-height: 36px;
  width: 750px;
}

.post .post-block .post-title,
.post .post-header .post-title {
  font-size: 28px;
}

.post .post-block .post-meta,
.post .post-header .post-meta {
  color: #aaa;
  font-size: 16px;
  margin-bottom: 56px;
  margin-left: 1px;
}

.post .post-body p {
  margin-bottom: 24px;
}

.content a {
  color: green;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}
