@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,800');

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  background:
    linear-gradient(rgba(20,41,70, 0.75), rgba(180,67,231, 0.35)),
    url(images/white_carbon.png);
  color: #f4f5f6;
  font: 24px 'Nunito', sans-serif;
  padding: 0;
}

.content {
  margin: 124px 62px;
  width: 600px;
}

.logo {
  -webkit-filter: invert(100%); filter: invert(100%);
  height: auto;
  margin: 0 0 60px;
  width: 50px;
}

.social {
  font-size: 16px;
  font-weight: 800;
  list-style: none;
  margin: 0 0 24px;
  padding: 0;
  text-transform: uppercase;
}

.social a {
  color: #142946;
  text-decoration: none;
}

.social li {
  display: inline;
  margin-right: 12px;
}
