html, body {
  background: #f9f9f9;
  color: #333;
  font-family: 'Roboto', sans-serif;
  padding: 36px 48px;
}

.title-block {
  font-size: 48px;
  font-weight: 900;
  line-height: 38px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.tagline-block {
  color: #aaa;
  font-size: 18px;
  margin-bottom: 86px;
}

.content {
  color: #333;
  font-size: 28px;
  line-height: 42px;
  width: 750px;
}

.content a {
  color: green;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}
