@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #fff;
    /*font: 21px/30px 'LibSans-Regular', Helvetica, sans-serif;*/
    font: 21px/30px 'Open Sans', sans-serif;
    color: #333;
}

.masthead {
    /*border-bottom: 1px solid #ccc;*/
    margin: 3% 5% 72px;
    width: 90%;
}

.masthead h1 {
    /*float: left;*/
    font: 1.9rem/30px 'LibSans-Bold', Helvetica, sans-serif;
    margin-bottom: 0;
    width: 70%;
}

.masthead h1 a {
    color: #333;
    text-decoration: none;
}

.sociallist {
    /*float: right;*/
    font: 13px/16px Courier;
}

.sociallist li {
    display: inline;
}

.sociallist li a {
    color: #aaa;
    text-decoration: none;
}

.sociallist li a:hover {
    color: #777;
}

.main {
    margin-left: 5%;
    max-width: 35%;
    min-width: 20%;
}

.main pre {
    margin-bottom: 30px;
}

.main pre code {
    font: 14px/1.6em Courier;
}

.post {
    margin-bottom: 48px;
}

.post article {
    font: 14px/24px 'Courier';
}

.post p {
    margin-bottom: 30px;
}

.post__header {
    margin-bottom: 12px;
    text-align: left;
}

.post__title {
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 0;
}

.post__header a {
    color: #04b45f;
    color: #0B9452;
    text-decoration: none;
}

.post__meta {
    color: #aaa;
    font: 1.5rem 'Courier';
    margin-left: 3px;
}

.masthead:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
